* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    /* background-color: blueviolet; */
    width: 100%;
    margin: 0 auto;
}

.container section {
    margin: 16px 0;
}

.container img {
    max-width: 100%;
}

header {
    padding: 16px 0;
    border-bottom: 1px solid black;
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

section .container {
    align-items: center;
}

header .container h1 {
    color: white;
}

header li {
    display: inline;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 16px;
}

#sobre .container {
    background-color: #ffad00;
}

#sobre img {
    max-width: 400px;
}

#sobre .container h2,
#sobre .container p {
    padding-left: 16px;
}

#produtos .container {
    background-color: blue;
}

header,
footer {
    background-color: #79726e;
    padding: 16px 0;
}

.produtos {
    margin: 16px 0;
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    justify-content: space-between;
}

.produto a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    text-decoration: none;
}

img{
    max-width: 100%;
}

h2 {
    border-bottom: 2px solid #302b29;
    margin: 16px;
}

.cinza {
    color: #302b29;
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 90%;
    }

    #sobre img{
        max-width: 100%;
    }

    #sobre .container {
        display: block;
    }

    .produtos {
        margin: 16px 0;
        display:block
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    #sobre img {
        max-width: 500px;
    }

    #sobre .container {
        display: block;
    }

    .produtos {
        margin: 16px 0;
        display: grid;
        grid-template-columns: repeat(2, 49%);
        justify-content: space-between;
    }
}